.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header__logo-half {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
}

/*Navigation*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigate-list {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: flex;
}

.navigate__item {
  margin-right: 50px;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

.navigate__list {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navigate__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--color-text);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.navigate__link:hover,
.navigate__linkk:focus {
  color: var(--hover-collor-text);
}

.navigate__link.current {
  color: var(--hover-collor-text);
  position: relative;
}

.navigate__list:last-child {
  margin-right: 0;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__icon:hover {
  color: var(--hover-collor-text);
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-team);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.contacts-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  border-radius: 4px;
  fill: currentColor;
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text-header);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--hover-collor-text);
}

.social-network__item {
  margin-right: 10px;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.social-network__item:last-child {
  margin-right: 0;
}

.social-network__icon {
  fill: currentColor;
}

.social-network__links {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--logo-clients);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-network__links:hover,
.social-network__links:focus {
  background-color: var(--hover-collor-text);
  color: var(--title-color);
}

.contacts-list__item {
  margin-right: 50px;
}

.contacts-list__item:last-child {
  margin-right: 0;
}

.container-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */