 :root {
    --title-color: #FFFFFF;
    --background-color:  #2F303A;
    --hover-collor-text: #2196f3;
    --background-team: #F5F4FA;
    --footer-color-text: rgba(255, 255, 255, 0.6);
    --color-text: #212121;
    --color-text-header: #757575;
    --backround-color-clients: #E5E5E5;
    --logo-clients: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container { 
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    }
.section {
    padding: 94px 0;
    }
.header-container {
    display: flex;
    align-items: center;
    }
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}   

/*Header*/
.header {
    background-color: var(--primary-color);
    border-bottom: 1px solid #ECECEC;
}
.logo {
    color: var(--hover-collor-text);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.logo-half {
    color: var(--color-text);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    text-decoration: none;
}
 /*Navigation*/
 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .nav-items {
    color: var(--color-text);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    position: relative;
 }
 
 .nav-items-list {
     margin-right: 50px;
 }
 .current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--hover-collor-text);
    border-radius: 2px;
    bottom: -1px;
}


 .nav-items-link {
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;
     text-decoration: none;
     color: var(--color-text);
     transition: color 250ms var(--timing-function);
     
 }
 .nav-items-link:hover,
 .nav-items-link:focus {
    color: var(--hover-collor-text);
 } 
 .nav-items-link.current {
     color: var(--hover-collor-text);
     position: relative;
 }
 .nav-items-list:last-child {
     margin-right: 0;
 }
.icon-contact {
    margin-right: 10px;
    fill: currentColor;
   
}
.icon-contact:hover {
    color: var(--hover-collor-text);
}
.container-icon {
    display: flex;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-team);
}
.icon-main {
    width: 70px;
    height: 70px;
}
.contacts-link {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    border-radius: 4px;
    fill: currentColor;
}
.contacts-link-item {
    display: flex;
    align-items: center;
    color: var(--color-text-header);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px; 
    transition: color 250ms var(--timing-function);
}
.contacts-link-item:hover,
.contacts-link-item:focus {
    color: var(--hover-collor-text);
}
.social-links-item {
    margin-right: 10px;
}
.social-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.social-links-item:last-child {
    margin-right: 0;
}
.social-links-icon {
    fill: currentColor;
}
.social-links {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--logo-clients);
    transition: background-color 250ms var(--timing-function);
}
.social-links:hover,
.social-links:focus {
    background-color: var(--hover-collor-text);
    color:  var(--title-color);
}

 .contacts-link-list {
    margin-right: 50px;
  
 }
 .contacts-link-list:last-child {
    margin-right: 0;
 }
 .container-header-nav {
     display: flex;
 }
/* Main information*/
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../images/фон\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-main {
    color: var(--title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.16;
    text-align: center;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    background: var(--hover-collor-text);
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border: transparent;
    border-radius: 4px;
}
.button:hover, 
.button:focus {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.advantage-item {
    margin-right: 30px;
}
.advantage-item:last-child {
    margin-right: 0;
}
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.advantage-list {
    display: flex;
}
.advantage-title {
    color: var(--color-text);
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.advantage-text {
    color: var(--color-text-header);
    font-size: 14px;
    line-height: 1.71;
    margin-right: 30px;
}
.advantage-title:last-child {
    margin-right: 0;
}
.advantage-text:last-child {
    margin-right: 0;
}

/* Image information*/

.work-list {
    list-style-type: none;
    display: flex;
    position: relative;
}
.work-section {
    padding-top: 0;
}
.work-title {
    color: var(--color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
.work-list-item {
    margin-right: 30px;
    position: relative;
}
.work-list-item:last-child {
    margin-right: 0;
}
.work-text-color {
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 70px;
}


img {
    display: block;
    height: auto;
    max-width: 100%;
}
/*team*/
.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-team {
    background-color: var(--background-team);
}
.team-title {
    color: var(--color-text);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 50px;
}
.team-list {
    list-style-type: none;
    display: flex;
    
}
.team-list-item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-color);
}
.team-list-item:last-child {
    margin-right: 0;
}
.team-title-name {
    color: var(--color-text);
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}
.clients-container {
    background-color: var(--title-color);

}
.team-text {
    color: var(--color-text-header);
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.19;
}
.title-client {
    color: var(--color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.company-icons-list {
    display: flex;
}
.company-icons-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}
.company-icons-item:last-child {
    margin-right: 0;
}
.company-links {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--logo-clients);
    transition: color 250ms var(--timing-function);
}
.company-links:hover, 
.company-links:focus {
    border-color: var(--hover-collor-text);
    color: var(--hover-collor-text);
}
.company-icon {
    fill: currentColor;
}
/*footer*/
.list-icons {
    display: flex;
}
.title-footer
{
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-adress {
    margin-right: 70px;
}

.social-icon-footer {
    fill: currentColor;
}
.footer-container {
    align-items: baseline;
    display: flex;
}
.footer { 
    background: var(--background-color);
    padding-bottom: 60px;
    padding-top: 60px;
}
.contacts-item-footer {
    margin-bottom: 9px;
}
.contacts-item-footer:last-child {
    margin-bottom: 0;
}
.list-items-footer {
    margin-top: 20px;
}
.location {
    color: var(--title-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms var(--timing-function);
}
.location:hover {
    color: var(--hover-collor-text);
}
.contacts-footer {
    color: var(--footer-color-text);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}
.contacts-footer-list {
    margin-bottom: 60px;
}
.contacts-footer:hover {
    color: var(--hover-collor-text); 
}
.logo-half-footer {
    color: var(--title-color);
}
.social-link-footer {
    color: var(--title-color);
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color 250ms var(--timing-function);
}
.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--hover-collor-text);
}
.item-icons {
    margin-right: 10px;
}
.item-icons:last-child {
    margin-right: 0;
}
.social-links-footer {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--title-color);
    background-color: ; rgba(255, 255, 255, 0.1);
}
.social-links-footer:hover,
.social-links-footer:focus {
    background-color: var(--hover-collor-text);
    
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    min-width: 528px;
    min-height: 581px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: var(--timing-function);
    transition-property: transform;
    transition-duration: 250ms;
    padding: 40px;
}
.button-close {
    position: absolute;
    display: flex; 
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    top: 8px;
    right: 8px;
    align-items: center;
    cursor: pointer;
    padding: 0 0;
    position: absolute;
    fill: currentColor;
    background-color: var(--title-color);
}
.button-close:hover {
    color: var(--hover-collor-text);
}
.send-container-footer {
    margin-left: 93px;
}
.send-footer {
    display: inline-flex;
}
.send-button {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--hover-collor-text);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    margin-left: 12px;
}
.icon-send-footer {
    margin-left: 10px;
}
.send-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background: inherit;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal-title {
    color: var(--color-text);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    margin-bottom: 12px;
}
.form-modal {
   
}
.link-modal {
    color: var(--hover-collor-text);
    text-decoration: underline;
}
.items-modal {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.items-modal-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.label-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--color-text-header);
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.label-modal:hover,
.label-modal:focus {
    fill: var(--hover-collor-text);
}
.comment-area:hover 
.comment-area:focus {
    fill: var(--hover-collor-text);
}
/*.input-modal:hover + .modal-icon,
.input-modal:focus + .modal-icon {
    fill: var(--hover-collor-text);
}
.input-modal:hover,
.input-modal:focus {
    border: 1px solid var(--hover-collor-text);
}*/
.comment-area {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    margin-top: 4px;
}
.text-comment {
    color: var(--color-text-header);
    letter-spacing: 0.03em;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}
.modal-icon {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 15px;
    height: 12px;
    transition: fill 250ms var(--timing-function);
}
.input-modal {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.button-modal {
    width: 200px;
    height: 50px;
    background-color: var(--hover-collor-text);
    border-radius: 4px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 1.875;
    line-height: 30px;
    font-family: inherit;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    transition: background-color 250ms var(--timing-function);
    cursor: pointer;
}
.button-form {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.button-modal:hover,
.button-modal:focus {
    background-color: #188CE8;
}

.icon-modal {
    outline: 2px solid black;
    margin-right: 8px;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.checkbox {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.checkbox:checked + .icon-modal {
    background-color: #2196F3;
    background-image: url('../images/icon\ check\ modal.svg');
    background-size: contain;
    background-origin: border-box;
    border-color: #2196F3;
}
/*portfolio*/

/*Main information*/
a {
    text-decoration: none;
}
.main-section {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button { 
    color: var(--color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    border: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    transition-timing-function: var(--timing-function); 
    transition-property: color, box-shadow, background-color; 
    transition-duration: 250ms;
    background-color: var(--background-team);
}
.filter-button:hover,
.filter-button:focus
 {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--title-color);
    background-color: var(--hover-collor-text);
}

.filter-item {
    align-items: center;
    margin-right: 8px;

}
.filter-item:last-child {
    margin-right: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
   
}
.gallery-container{
    padding: 20px 24px; 
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.link-block {
    display: block;
}
.project-thumb {
    position: relative;
    overflow: hidden;
}
.project-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:  transform 250ms var(--timing-function);
    background: rgba(33, 150, 243, 0.9);
    letter-spacing: 0.03em;
    color: var(--title-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    transform: translateY(100%);
    padding: 63px 24px;
}
.project-text:hover {
    opacity: 1;
}
.project-thumb:hover {
    transform: translateY(0);
    
}
.link-block:hover .project-text,
.link-block:focus .project-text{
    transform: translateY(0);
}
.link-block:hover, 
.link-block:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-title {
    color: var(--color-text);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.gallery-text {
    color: var(--color-text-header);
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.86;
}
.gallery-item {
     margin-right: 30px;
     margin-bottom: 30px;
}

